body{
    margin:0;
    padding: 0;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*----global header----*/
.header{
    background:#a6c9ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-area: header;
}
.header__container{
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    padding:1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__container p{
    color: #428a9e;
    font-size: 3rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-family: 'Righteous', cursive;
}
.header__list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header__listitem{
    margin-right: 2rem;
}

.header__listitem:last-of-type {
    margin-right: 0;
}

.header__link{
    text-decoration: none;
    color:black;
    font-weight: bold;
    text-transform: uppercase;
}
.header__link:hover {
    color:#428a9e;
}

/*-------global slide-----*/
.slide{
    background-color: #a6c9ff;
    width:150px;
    height:150px;
    position: fixed;
    left: -150px;
    transition: .2s ease-in-out;
    top:200px;
    font-size: 20px;
    border-radius: 10%;
}

.slide span{
    background: #a6c9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    cursor: pointer;
    box-shadow: 5px 0 5px 0 rgba(50,50,50, .4);
    height: 50px;
    width: 50px;
    font-size: 2rem;
    color: #317183;
    position: absolute;
    right: -50px;
    top: 50px;   
}

.slide p{
    margin: 1rem;
    color: #317183;
    line-height: 30px;
}
.open{
    left: 0;
}

/*-----content------*/
.content{
    align-self: center;
}

.skyline {
    background: url(mw960367054-Kc-fa3I9aRQ-unsplash.jpg) no-repeat center center ; 
    background-size: cover;
    width: 100%;
    height: 500px;
    grid-area: bild;
}
/*-----text--------*/
.text{
    text-align: center;
    margin: 25px 50px 75px;
    grid-area: text;
}
/* --------- FOOTER --------- */
footer{
    grid-area: footer;
    text-align: center;
    padding: 30px;
    height: 150px;
    background-color:#a6c9ff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    color:black;
}

@media all and (max-width: 37.5rem) {
    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "bild"
        "text"
        "footer"
        ;
     }
}